body {
  background-color: #282c34;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #616671;
  padding: 2em 0;
  color: white;

  .header__heading {
    margin: auto;
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
  }

  .header__instructions {
    text-align: center;
    margin-top: 1em;
    font-weight: 600;
  }

  .header__modes {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5em;
  }

  .mode {
    cursor: pointer;
    font-weight: 600; 
    display: inline-block;
    position: relative;
  }

  .mode::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2.5px;
    bottom: 0;
    left: 0;
    top: 1.3em;
    background-color: #f1fffa;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .mode:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .mode.active::after {
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 2.5px;
    bottom: 0;
    left: 0;
    top: 1.3em;
    background-color: #f1fffa;
  }
}

.score {
  color: white;
  text-align: center;
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.score__current-wrapper{
  display: flex;
  flex-direction: column;
  margin-right: 4em;
}

.score__current--text {
  font-size: 1.2em;
}

.score__current--value {
  font-size: 1.8em;
  font-weight: 600;
  margin-top: 0.5em;
}

.score__best--text {
  font-size: 1.2em;
}

.score__best--value {
  font-size: 1.8em;
  font-weight: 600;
  margin-top: 0.5em;
}

.score__best-wrapper {
  display: flex;
  flex-direction: column;
  width: 3.89em;
  margin-left: 4em;
}

.score__divider {
  font-size: 1.8em;
  font-weight: 900;
}

.cards-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin: auto;
  grid-gap: 2em;
  margin-top: 2em;

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 80%;
    padding: 0.5em;
    border-radius: 8px;
    cursor: pointer;
    background-color: #f8f9fa;
    box-shadow: 5px 5px 15px 5px rgba(113, 113, 113, 0.26);
  }

  .card:hover {
    background-color: #f8f9fae3;
  }

  .card__img {
    max-width: 80%;
    height: 100%;
  }

  .card__name {
    font-weight: 600;
    padding-top: 1em;
    text-align: center;
    font-size: 0.6em;
  }
}

.gameover {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 100%;
  text-align: center;
  font-weight: 600;
  
  .gameover--text {
    margin-bottom: 0.5em;
    font-size: 1.7em;
    letter-spacing: 5px;
  }

  .gameover--score {
    margin-bottom: 1em;
    font-size: 1.5em;
  }

  .gameover--play-again-btn {
    width: 10em;
    margin: auto;
    font-weight: 600;
    font-size: 1.1em;
    padding: 0.4em;
    border-radius: 6px;
    border: none;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: #F3F9D2;
  }

  .gameover--play-again-btn:hover {
    border-radius: 0px;
    background-color: #d2d2d2;
  }
}

@media (min-width: 600px) {
  .cards-section {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .cards-section {
    grid-gap: 0em;
    width: 60%;

    .card {
      width: 80%;
      height: 80%;
    }
  }
}